<h1>Welcome Admin: {{user?.firstName}} {{user?.lastName}}</h1>
<hr>
<div class="buttons">
    <a routerLink="./manageTypeVehicle" class="btn btn-info">Manage Vehicle Types</a>
</div>
<div class="buttons">
    <a routerLink="./manageManufacturerVehicle" class="btn btn-info">Manage Vehicle Manufacturer</a>
</div>
<div class="buttons">
    <a routerLink="./manageFaq" class="btn btn-info">Manage FAQ</a>
</div>
<div class="buttons">
    <a routerLink="./manageSla" class="btn btn-info">Manage Sla</a>
</div>
<div class="buttons">
    <a routerLink="./manageUserTypes" class="btn btn-info">Manage UserType</a>
</div>

<a routerLink="./" class="btn btn-warning">Close</a>
<hr>
<router-outlet></router-outlet>