.vehicleType-matFormField {
    width: 100%;
}

.vehicleManufacturer-matFormField {
    width: 50%;
}

.available-radioGroupLabe {
    padding-left: 10px;
}

img {
    width: 100%;
}

.matriculationDatePicker {
    width: 100%;
}

.datepicker-toggler{
    color: #FF4081;
}