<!-- <div class="home-bg">
    <img src="../../../assets/images/home-bg.jpg" alt="">
</div> -->

<video  src="../../../assets/videos/Changing shipping _Trim.mp4" type="video/mp4" loop autoplay oncanplay="this.muted=true">
  
</video>

<!-- <video src="../../../assets/videos/Changing shipping _Trim.mp4" autoplay loop playsinline muted:true></video> -->

<header class="viewport-header">
  <h1>
    Jamie Monge
    <h2>Leasing & Logistic</h2>
  </h1>
</header>

<main>
    <p>BLA</p>
  
    <p>BLA</p>
  <p>
   <a *ngIf="!user" [routerLink]="'/account/login'">Login</a></p>
</main>