<!-- <div class="home-bg">
    <img src="../../../assets/images/home-bg.jpg" alt="">
</div> -->



<video src="../../../assets/videos/Changing shipping _Trim.mp4" type="video/mp4" loop autoplay
oncanplay="this.muted=true">
</video>
<header class="viewport-header">
</header>
  <main>
  
  
  <!-- <video src="../../../assets/videos/Changing shipping _Trim.mp4" autoplay loop playsinline muted:true></video> -->
  
  
  
    <h1>
      Jamie Monge
      <h2>
        Leasing & Logistic
      </h2>
    </h1>
    <p>We can help you undertake your office move, no matter how big or small. Whether you’re moving from a home office to
      an office building, relocating some of your multi-site offices or upgrading to newer offices across the country then
      we can help. No move is too great or complicated for us because we are highly experienced in completing successful
      office moves.</p>
      
      <p>Our Teams, from Management to Operation, at all levels, are mindful, committed and responsive, fully understanding
        the transportation in all its aspects, worldwide and locally, and able to shape methods to define, measure and
        manage customer satisfaction that link to positive business results</p>
    </main>