<h1>Read Ticket: </h1>

<div class="form-group">
    <a routerLink="/tickets" class="btn btn-link">Go Back</a>
</div>

<textarea class="form-control" formControlName="issue" matInput value={{currentTicket?.issue}}
readonly > </textarea>

<textarea class="form-control" formControlName="issue" matInput value={{currentTicket?.errorCode}}
readonly > </textarea>

<form [formGroup]="form!" (ngSubmit)="onSubmit()">

    <div class="form-row">
        <div class="form-group col">
            <label for="userId">User Id</label>
            <input type="text" formControlName="userId" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f?.userId?.errors }" readonly />
            <div *ngIf="submitted && f?.userId?.errors" class="invalid-feedback">
                <div *ngIf="f?.userId?.errors?.required">User Id is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="userEmail">User Email</label>
            <input type="text" class="form-control" [value]="user?.emailAddress" readonly />
        </div>
        <div class="form-group col">
            <label for="userName">UserName</label>
            <input type="text" class="form-control" [value]="user?.username" readonly />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label for="type">Type</label>
            <input type="text" formControlName="type" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f?.type?.errors }" readonly />
            <div *ngIf="submitted && f?.type?.errors" class="invalid-feedback">
                <div *ngIf="f?.type?.errors?.required">Type is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="content">Content</label>
            <input type="text" formControlName="content" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f?.content?.errors }" readonly />
            <div *ngIf="submitted && f?.content?.errors" class="invalid-feedback">
                <div *ngIf="f?.content?.errors?.required">Content is required</div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label for="comment">Comment</label>
            <input type="text" formControlName="comment" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f?.comment?.errors }" readonly />
            <div *ngIf="submitted && f?.comment?.errors" class="invalid-feedback">
                <div *ngIf="f?.comment?.errors?.required">Comment is required</div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label for="attachment">attachment</label>
            <input type="text" formControlName="attachment" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f?.attachment?.errors }" readonly />
            <div *ngIf="submitted && f?.attachment?.errors" class="invalid-feedback">
                <div *ngIf="f?.attachment?.errors?.required">attachment is required</div>
            </div>
        </div>
    </div>
</form>